{% extends "base.jinja2" %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Pricing Service</h1>

        <h4>We scan online store websites to alert you of price drops in items that interest you.

            Just sign up, and get started by adding the URL of an item that you wish to track. We'll do the rest!</h4>

        <a class="btn btn-success" type="submit" href="signup.html">Get Started</a>
    </div>
</div>
{% endblock %}

